{% if page.sidebar == false %}

{{ content }}

{% else %}

<div class="d-flex" id="wrapper">
  {% include sidebar.html %}
  <div id="content">
    <div class="menu-top-bar">
      <div id="menu-toggle">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>

    <div class="container-fluid">
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>


  <div id="page-menu" class="page-menu">
    <div class="page-menu-content">
      <p class="text-uppercase">In this section:</p>
      <ul></ul>
    </div>
  </div>

</div>

{% endif %}
